html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: white;
  background-attachment: fixed;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eceeea;
  padding: 12px 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-icons img {
  width: 32px;
  margin-left: 18px;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1400px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  color: green;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  justify-items: center;
}

.card {
  background: #e8f5e4; /* verde claro */
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.desconto {
  background: #c1706c;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.desconto.orange {
  background: #e8a004;
}

.descricao {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.descricao b {
  font-weight: 700;
}

.btn {
  display: block;
  background: #245df3;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}

.arrow {
  position: absolute;
  top: 40px;
  font-size: 32px;
  color: #0d4f1c;
  cursor: pointer;
}

.left {
  left: 50px;
}
.right {
  right: 50px;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
