.topo {
  background-color: #eef1ec;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin-top: 0px;
}

.topo .logo {
  width: 10%;
  height: 10%;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu {
  cursor: pointer;
}

.linha {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin-bottom: 4px;
}

.linha:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.interesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interesse {
  margin: 10px;
  padding: 20px;
  width: 180px;
  height: 100px;
  background-color: #34c759;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.interesse:hover {
  transform: scale(1.1);
}

.interesse.selecionado {
  background-color: #2ecc71;
  border: 2px solid #fff;
}

.interesse .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.interesse .text {
  font-size: 16px;
  text-align: center;
}

.botao-salvar {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-salvar:hover {
  background-color: #0069d9;
}
.title {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
}
